<div id="new_suburb" data-hook></div>

<table class="table" id='listing_suburbs' data-hook>
  <thead>
    <tr data-hook="states_header">
      <th><%= Spree.t(:name) %></th>
      <th class="text-center"><%= Spree.t(:abbreviation) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @suburbs.each do |suburb| %>
      <tr id="<%= spree_dom_id suburb %>" data-hook="admin_suburbs_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= suburb.name %></td>
        <td class="text-center"><%= suburb.abbr %></td>
        <td data-hook="admin_suburbs_index_row_actions" class="actions text-right">
          <%= link_to_edit(suburb, no_text: true)if can? :edit, suburb %>
          <%= link_to_delete(suburb, no_text: true) if can? :edit, suburb %>
        </td>
      </tr>
    <% end %>
    <% if @suburbs.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>


    